@model List<EntityLayer.Concrete.TAnket>

@{
    ViewBag.Title = "Anketler";
}
<h2>@ViewBag.sirket Hoşgeldiniz</h2>
<br />
<table class="table table-hover">
    <tbody>
        <tr>
            <th>
                Anket
            </th>
            <th>
                Cevapla
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AnketAd
                </td>
                <td>
                    <a class="btn btn-info" href="~/PersonelPanel/AnketCevapla/@item.AnketID">Cevapla</a>
                </td>
            </tr>
        }
    </tbody>
</table>

