
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="error-wrapper">
    <a href="~/Login/AdminLogin" class="btn btn-success">Admin Girişi</a>
    <a href="~/Login/SirketLogin" class="btn btn-info">Şirket Girişi</a>
    <a href="~/Login/PersonelLogin" class="btn btn-danger">Personel Girişi</a>
</section>


