
@{
    ViewBag.Title = "PersonelLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<header class="panel-heading">
    Personel Giriş
</header>
<div class="panel-body">
    <form role="form" class="form-horizontal tasi-form" method="post">
        <div class="form-group has-success">
            <label class="col-lg-2 control-label">Personel </label>
            <div class="col-lg-10">
                <input type="text" placeholder="Personel Bilgilerini Giriniz" name="PersonelAd" class="form-control">
            </div>
        </div>
        <div class="form-group has-error">
            <label class="col-lg-2 control-label">Şifre</label>
            <div class="col-lg-10">
                <input type="password" placeholder="Şifre Giriniz" name="Sifre" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-danger" type="submit">Giriş Yap</button>
            </div>
        </div>
    </form>
</div>