
<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a class="active" href="~/AdminPanel/Sirketler">
            <span>Şirketler</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/AdminPanel/Personeller">
            <span>Personeller</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/AdminPanel/Anketler">
            <span>Anketler</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/AdminPanel/Profilim">
            <span>Profil Bilgilerim</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/Login/CikisYap">
            <span>Çıkış Yap</span>
        </a>
    </li>
</ul>
  
