
<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a class="active" href="~/PersonelPanel/Anketler">
            <span>Anketler</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/PersonelPanel/Profilim">
            <span>Profilim</span>
        </a>
    </li>
    <li>
        <a class="active" href="~/Login/CikisYap">
            <span>Çıkış Yap</span>
        </a>
    </li>
</ul>