
<aside>
    <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="active" href="~/SirketPanel/DashBoard">
                    <span>DashBoard</span>
                </a>
            </li>
            <li>
                <a class="active" href="~/SirketPanel/Personeller">
                    <span>Personeller</span>
                </a>
            </li>
            <li>
                <a class="active" href="~/SirketPanel/Anketler">
                    <span>Anketler</span>
                </a>
            </li>
            <li>
                <a class="active" href="~/SirketPanel/Profilim">
                    <span>Şirket Bilgileri</span>
                </a>
            </li>
            <li>
                <a class="active" href="~/Login/CikisYap">
                    <span>Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</aside>