
@{
    Layout = null;
}

<link href="~/FlatLab/css/bootstrap.min.css" rel="stylesheet">
<link href="~/FlatLab/css/bootstrap-reset.css" rel="stylesheet">
<link href="~/FlatLab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="~/FlatLab/css/owl.carousel.css" type="text/css">
<link href="~/FlatLab/css/slidebars.css" rel="stylesheet">
<link href="~/FlatLab/css/style.css" rel="stylesheet">
<link href="~/FlatLab/css/style-responsive.css" rel="stylesheet" />
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
              @RenderBody()
            </section>
        </div>
    </div>
</section>
