@model List<EntityLayer.Concrete.TSoru>
@{
    ViewBag.Title = "AnketSoruGoruntule";
}

<table class="table table-hover">
    <tbody>
        <tr>
            <th>
                Soru
            </th>
            <th>
                Soru Tip
            </th>
            <th>
                Opsiyon Belirle
            </th>
            <th>
                Opsiyonlar
            </th>
            <th>
                Düzenle
            </th>
            <th>
                Sil
            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @item.SoruAd
        </td>
        <td>
            @item.SoruTip
        </td>
        @if (item.SoruTip != "Açıklama")
        {
            <td>
                <a class="btn btn-info" href="~/AdminPanel/SoruOpsiyonBelirle/@item.SoruID">Opsiyon Belirle</a>
            </td>
            <td>
                <a class="btn btn-warning" href="~/AdminPanel/SoruOpsiyonlari/@item.SoruID">Görüntüle</a>
            </td>
        }
        else
        {
            <td>Opsiyon Mevcut Değil</td>
            <td>Opsiyon Mevcut Değil</td>
        }
        <td>
            <a class="btn btn-success" href="~/AdminPanel/SoruDuzenle/@item.SoruID">Düzenle</a>
        </td>
        <td>
            <a class="btn btn-danger" href="~/AdminPanel/SoruSil/@item.SoruID">Sil</a>
        </td>
    </tr>
        }
    </tbody>
</table>

